# SvelteKit dev/build outputs
.svelte-kit
build
dist
.cache

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
.csvbase

# Local env files
.env
.env.*
!.env.example

csvbase

